.calculator{
    box-shadow: 2px 2px 5px 15px rgba(143, 142, 142, 0.3);
    position: relative;
}
.modebtn{
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.modebtn button{
    border: 1px solid #000000;
}
.resetbtn{
padding: 0.5rem 1rem;
background-color: #00ffff;
color: #ffffff;
border: none;
border-radius: 5px;
}
.stringbtn{
padding: 0.5rem 1rem;
background-color: #1eff00;
width: 7rem;
color: #ffffff;
border: none;
border-radius: 5px;
}

.form-group h3{
font-size: 2rem;
font-weight: 500;
color: #ffffff;
margin-bottom: 1rem;
}
.row{
    margin: auto;
}

.dark-mode {
    background-color: #222;
    color: white;
}

.dark-mode .calculator {
    background-color: #333;
    border-color: #555;
}

.dark-mode button {
    background-color: #444;
    color: white;
    border: 1px solid white;
}


@media (max-width: 576px) {

    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4 {
        display: grid;
        grid-template-columns: 1fr;
    }
    .box1,
    .box2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}